body {
	font-family: sans-serif;
	background: #EEE;
}

form {
	width: 50%;
	margin: 0 auto;
	position: relative;
	padding-top: 70px;
	text-align: center;
	transition: all 1s;
}

input[type="text"] {
	padding:10px;
	font-size: 24px;
}

input[type="submit"] {
	padding: 12px;
	font-size: 24px;
	background: tomato;
	color:white;
	border:none;
}

input[type="submit"]:hover {
	background: lightblue;
}

.suchWeather  {
	position: absolute;
	left: 2%;
	bottom: 2%;

}

.suchWeather p {

	font-size: 20px;
	color:#222;
	line-height: 1em;
}

.suchWeather p.location {
	font-size: 30px;
	line-height: 1.2;
}

h1 {
	font-size: 37px;
	color:#222;
	width: 600px;
	padding-top: 60px;
	height: auto;
	margin: 0 auto;
	padding:30px;
	transition: all 1s;
	
}

.h1Back {
	background: rgba(255,255,255,0.5);
	border-radius: 5px;
	margin-top: 100px;
}

.images {
	display: inline-block;
	position: absolute;
	right: 35px;
	top: 35px;
}

.images img {
	border-radius: 50%;
}

.suchWeather {
	background: rgba(238, 238, 238, 0.4);
	width: 220px;
	height: 180px;
	border-radius: 5px;
	margin:50px;	
	padding:10px;
}

.fb-share-button {
	height:16px;
}
